<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="images/Finder.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <title>CollegeFinder</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/themes/base/jquery-ui.css"
        type="text/css" media="all" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js" type="text/javascript"></script>
    <style>
        .title {
            font-size: 2vw;
        }

        @media screen and (max-width: 950px) {

            .title {
                font-size: 3vw;
            }
        }

        @media screen and (max-width: 450px) {

            .title {
                font-size: 4vw;
            }

        }
    </style>
</head>

<body>
    <div class="container-fluid p-5 bg-success text-white text-center">
        <h1 class="title">Know list of colleges using Rank</h1>
        <p class="subtitle">Enter your rank and other details to display the colleges</p>
    </div>

    <div class="container-fluid col-md-8 offset-md-2 mt-3">
        <p class="text-center h1 mb-3" style="font-size: 5vw">Choose Valid Options</p>

        <form action="/predictors" method="post" class="needs-validation" novalidate>
            <div class="form-group">
                <label for="clgname" class="col-form-label-lg">Rank</label>
                <input type="number" max="140000" min="1" class="form-control form-control-lg" required name="rank" id="rank"
                    placeholder="Enter Rank" />
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Enter Rank!!
                </div>
            </div>

            <div class="form-group">
                <label for="branchname" class="col-form-label-lg">Branch</label>
                <select class="form-control form-select-md form-control-lg" name="branchname" required id="branchname"
                    placeholder="Enter College Name">
                    <option value="" selected>select branch</option>
                    <% if(stream=="engineering" ){%>
                        <option value="CIV">CIVIL ENGINEERING</option>
                        <option value="MEC">MECHANICAL ENGINEERING</option>
                        <option value="AID">ARTIFICIAL INTELLIGENCE AND DATA SCIENCE</option>
                        <option value="CAI">COMPUTER SCIENCE AND ENGINEERING (ARTIFICIAL INTELLIGENCE)</option>
                        <option value="CSB">COMPUTER SCIENCE AND BUSINESS SYSTEMS</option>
                        <option value="CSC">COMPUTER SCIENCE AND Cyber Security</option>
                        <option value="CSD">COMPUTER SCIENCE AND ENGINEERING (DATA SCIENCE)</option>
                        <option value="CSE">COMPUTER SCIENCE AND ENGINEERING</option>
                        <option value="CSG">COMPUTER SCIENCE AND DESIGN</option>
                        <option value="CSM">COMPUTER SCIENCE AND MACHINE LEARNING</option>
                        <option value="CSO">COMPUTER SCIENCE AND IOT</option>
                        <option value="CSS">COMPUTER SCIENCE AND SYSTEMS ENGINEERING</option>
                        <option value="ECE">ELECTRONICS AND COMMUNICATION ENGINEERING</option>
                        <option value="EEE">ELECTRONICS AND ELECTRICAL ENGINEERING</option>
                        <option value="EIE">ELECTRONICS AND INSTRUMENTATION ENGINEERING</option>
                        <option value="INF">INFORMATION TECHNOLOGY</option>
                        <% } else if(stream=="pharmacy" ) { %>
                            <option value="PHD">PHD</option>
                            <option value="PHM">PHM</option>

                            <% } %>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Select Valid Branch!!
                </div>
            </div>

            <div class="form-group">
                <label for="locality" class="col-form-label-lg">Locality</label>
                <select class="form-control form-select-md form-control-lg" name="locality" required id="locality"
                    placeholder="Select Locality">
                    <option value="" selected>select locality</option>
                    <option value="AU">AU - Andhra University Region</option>
                    <option value="NO">Unreserved - Non Local for all regions</option>
                    <option value="OU">OU - Osmania University Region</option>
                    <option value="SVU">SVU - Sri Venkateshwara University</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Select Valid Locality!!
                </div>
            </div>

            <div class="form-group">
                <label for="ctyname" class="col-form-label-lg">Category</label>
                <select class="form-control form-select-md form-control-lg" name="ctyname" required id="ctyname">
                    <option value="" selected>select category</option>
                    <option value="OC_BOYS">OC_BOYS</option>
                    <option value="OC_GIRLS">OC_GIRLS</option>
                    <option value="SC_BOYS">SC_BOYS</option>
                    <option value="SC_GIRLS">SC_GIRLS</option>
                    <option value="ST_BOYS">ST_BOYS</option>
                    <option value="ST_GIRLS">ST_GIRLS</option>
                    <option value="BCA_BOYS">BCA_BOYS</option>
                    <option value="BCA_GIRLS">BCA_GIRLS</option>
                    <option value="BCB_BOYS">BCB_BOYS</option>
                    <option value="BCB_GIRLS">BCB_GIRLS</option>
                    <option value="BCC_BOYS">BCC_BOYS</option>
                    <option value="BCC_GIRLS">BCC_GIRLS</option>
                    <option value="BCD_BOYS">BCD_BOYS</option>
                    <option value="BCD_GIRLS">BCD_GIRLS</option>
                    <option value="BCE_BOYS">BCE_BOYS</option>
                    <option value="BCE_GIRLS">BCE_GIRLS</option>
                    <option value="OC_EWS_BOYS">OC_EWS_BOYS</option>
                    <option value="BCE_BOYS">OC_EWS_GIRLS</option>
                    <div class="invalid-feedback">Example invalid select feedback</div>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Select Valid Category!!
                </div>
            </div>

            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control form-select-md form-control-lg" name="gender" required id="gender"
                    placeholder="Select Gender">
                    <option value="" selected>select gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Select Gender!!
                </div>
            </div>

            <div class="d-grid gap-2 d-lg-block">
                <button type="submit" class="btn btn-secondary">Submit</button>
                <a class="btn btn-secondary" href="/selection">Other Tools</a>
                <a class="btn btn-success" href="/">Home Page</a>
            </div>
        </form>
    </div>
    <script>
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
</body>

</html>